.service-section {
  padding: 2em 1em 3em 1em;
  background-color: $bkgd__light;
  @include flex($dir: column, $align: center);

  .service-header {
    width: 100%;
    @include flex($justify: center);

    h2 {
      width: fit-content;
      text-align: center;
      color: $tertiary-color;
      padding: .25em 0;
      margin-bottom: 1em;
      border-bottom: 2px solid $tertiary-color;
      width: fit-content;
    }
  }
  .service-column {
    padding: 1em;
    margin: 1em 0;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 4px 0 darken($bkgd__light, 5%);
    @include flex($align: flex-start, $justify: center);

    i {
      font-size: 3em;
      color: $primary-color;
    }
    .service-content {
      padding-left: 1em;

      h3 {
        font-weight: bold;
        color: $primary-color;
      }
      p {
        margin: 0;
        padding-bottom: 1em;
      }
    }
  }
  @include medium-devices {
    padding: 4em .5em;
    @include flex($dir: row, $align: flex-start, $justify: space-evenly, $wrap: wrap);

    .service-column {
      min-width: 300px;
      width: 45%;
      padding: 2em;
      margin: 1em .5em;

      i {
        font-size: 3.5em;
      }
    }
  }
  @include large-devices {
    .service-column {
      min-width: 250px;
      width: 30%;
    }
  }
}