// Font Variables
  $primary-font: 'Open Sans', sans-serif !default;
  $heading-font: 'Chelsea Market', sans-serif !default;
  $subheading-font: 'Gaegu', sans-serif !default;
  $arrow-font: 'Lateef', sans-serif !default;


// Color Variables
    // Red Vars
    $persian-red: #D33E3E !default;

    // Shades of Gray Vars
    $white-smoke: #F0F0F0 !default;
    $gainsboro: #E6E6E6 !default;
    $suva-grey: #888888 !default;
    $mortar: #555555 !default;
    $nero: #1f1f1f !default;

// Color Configurations
    // Main Color Config
    $primary-color: $persian-red;
    $primary-color__transparent: rgba($persian-red, 0.5) !default;
    $secondary-color: $nero;
    $secondary-color__transparent: rgba($nero, 0.8) !default;
    $tertiary-color: $mortar;

    // Background Color Config
    $bkgd__light: $gainsboro;

    // Text Color Config
    $text__light: $white-smoke;
    $text__dark: $suva-grey;